<div class="masthead">
  <h1>Smylen HIPAA Compliance Policies</h1>
  <div class="subhead">
    <p>This is the public version of Smylen's HIPAA Compliance Policies. For pull requests, or to download the source, <a href="https://github.com/danhorowitznyc/policies">please visit the github project</a> for this site. If you have any further questions, please reach out to us at <a href="mailto:hello@smylen.com">hello@smylen.com</a>.</p>
  </div>
</div>